<!-- about-us.component.html -->
<app-navbar></app-navbar>

<div
  class="about-us p-8 bg-gray-100 rounded-lg shadow-lg mx-auto w-full lg:w-3/4 pb-36"
>
  <h2 class="text-3xl font-bold text-gray-800 mb-4 text-center pb-12">
    Sobre Nosotros
  </h2>

  <p class="text-gray-600 mb-4">
    <strong>L&C Cosmética Digital</strong>, desde
    <strong>Río Gallegos, Santa Cruz, Argentina</strong>,  se dedica a la
    reventa de estos productos pensando siempre en lo mejor para los peluqueros
    de la zona. Con un profundo conocimiento de las necesidades de los
    estilistas locales, nuestra misión es proporcionar herramientas y productos
    de calidad que permitan a los peluqueros desarrollar su máximo potencial.
  </p>
  <p class="text-gray-600 mb-4">
    Debido a esto le damos la bienvenida a <strong>Puissance</strong> y
    <strong>Color Master</strong>, dos marcas dedicadas a ofrecer los mejores
    productos para peluqueros profesionales. Nuestro proyecto se centra en
    ayudar a los estilistas a crear y expresar su creatividad mediante productos
    de alta calidad, que garantizan excelentes resultados y satisfacen las
    necesidades de cada cliente.
  </p>
  <p class="text-gray-600 mb-4">
    En Puissance, entendemos que cada profesional necesita las mejores
    herramientas para lograr estilos únicos y duraderos. Por ello, ofrecemos una
    amplia variedad de productos que van desde tintes vibrantes, tratamientos
    capilares, hasta herramientas de peluquería de última generación.
  </p>
  <p class="text-gray-600 mb-4">
    Color Master se destaca en la industria por sus soluciones innovadoras en
    coloración capilar. Nuestro compromiso es proporcionar productos que
    permiten alcanzar colores intensos, duraderos, y a la vez cuidar de la salud
    del cabello. Con <strong>Color Master</strong>, transformamos cada proceso
    de coloración en una experiencia especial.
  </p>
  <p class="text-gray-600">
    Juntos, <strong>Puissance</strong> y <strong>Color Master</strong> están
    aquí para inspirar y empoderar a los peluqueros a llevar su arte al
    siguiente nivel. ¡Gracias por ser parte de nuestra historia!
  </p>
  
</div>

<app-footer></app-footer>
