POSTGRES_DB=ecommerce
POSTGRES_USER=marce
POSTGRES_PASSWORD=marce123
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=4200
JWT_SECRET=fS2UAxl7vRy0XTLfb89RxPEZAjWa6LG2sfKhp_hSz9sAxr9WYsaV4jJ0QL-NUcCT1m1JfL8
MERCADOPAGO_ACCESS_TOKEN=123123123123
