<div *ngIf="status === 'success'">
    <h1>¡Pago Exitoso!</h1>
    <p>Gracias por tu compra. Hemos recibido tu pago y estamos procesando tu pedido.</p>
  </div>
  <div *ngIf="status === 'failure'">
    <h1>Pago Fallido</h1>
    <p>Lamentablemente, tu pago no fue procesado. Por favor, intenta nuevamente.</p>
  </div>
  <div *ngIf="status === 'pending'">
    <h1>Pago Pendiente</h1>
    <p>Tu pago está pendiente de confirmación. Te notificaremos una vez que esté confirmado.</p>
  </div>
  <div *ngIf="status === 'unknown'">
    <h1>Estado Desconocido</h1>
    <p>No se pudo determinar el estado del pago.</p>
  </div>
  