<app-navbar></app-navbar>
<div *ngIf="orders && orders.length > 0; else noOrders" class="orders-container">
  <div *ngFor="let order of orders" class="order-card">
    <div class="order-header">
      <span>Orden ID: {{ order.id }}</span>
      <span class="badge" [ngClass]="getStatusClass(order.orderState)">
        {{ order.orderState }}
      </span>
    </div>

    <div class="order-body">
      <p><strong>Fecha de Creación:</strong> {{ order.dateCreated | date : "short" }}</p>
      <p><strong>Nombre:</strong> {{ order.userName || "No disponible" }}</p>
      <p><strong>Email:</strong> {{ order.userEmail || "No disponible" }}</p>

      <hr />

      <h6><i class="fas fa-box"></i> Productos:</h6>
      <ul class="list-group">
        <li *ngFor="let product of order.orderProducts" class="list-group-item">
          <span>{{ product.productName || "Desconocido" }}</span>
          <span>x{{ product.quantity }} - {{ product.price | currency }}</span>
        </li>
      </ul>

      <hr />

      <div class="total-container">
        Total Pedido: {{ order.totalOrderPrice || 0 | currency }}
      </div>
    </div>
  </div>
</div>

<ng-template #noOrders>
  <p class="text-center text-muted">No hay órdenes disponibles.</p>
</ng-template>


<app-footer></app-footer>
