<app-navbar></app-navbar>

<div class="container mx-auto px-4 py-8" >
  <!-- Encabezado de Página y Breadcrumbs -->
  <h1 class="text-4xl font-semibold text-gray-800 mb-4">
    <span class="text-gray-600">Detalle Producto</span>
  </h1>

  <!-- Tarjeta de Producto -->
  <div class="bg-white shadow-lg rounded-lg overflow-hidden mb-8">
    <div class="flex flex-col md:flex-row">
      <!-- Imagen del Producto -->
      <div class="md:w-1/2">
        <a href="#">
          <img class="w-1/2 h-3/4 object-fill" src="{{ urlImage }}" alt="" />
        </a>
      </div>

      <!-- Detalles del Producto -->
      <div class="md:w-1/2 p-6">
        <form action="#" method="POST" class="space-y-6">
          <h2 class="text-3xl font-semibold text-gray-800 mb-4">{{ name }}</h2>

          <!-- Lista de Información del Producto -->
          <ul class="space-y-4">
            <li>
              <h5 class="text-xl font-semibold text-gray-700">
                Precio: <span class="text-gray-900">{{ price }}</span>
              </h5>
            </li>
            <li>
              <p class="text-gray-600">Descripción: {{ description }}</p>
            </li>
            <li>
              <h6 class="text-lg font-medium text-gray-700">
                Cantidad:
                <input
                  type="number"
                  [(ngModel)]="quantity"
                  id="quantity"
                  name="quantity"
                  class="border border-gray-300 rounded-lg px-3 py-1 w-20 ml-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                  min="1"
                  max="5"
                  value="1"
                  autocomplete="off"
                />
              </h6>
            </li>
          </ul>

          <!-- Botón Añadir al Carrito -->
          <button
            (click)="addCart(id)"
            class="w-full bg-gray-800 text-white font-bold py-3 rounded-lg hover:bg-gray-900 transition duration-300"
          >
            Añadir al carrito
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
