<app-navbar></app-navbar>

<div class="container mx-auto px-4">
  <!-- Título y Breadcrumbs -->

  <nav
    class="flex mb-6 text-gray-600 text-sm justify-center md:justify-start"
  ></nav>

  <!-- Tarjeta Principal -->
  <div class="bg-white shadow-md rounded-lg mb-8 p-6">
    <div class="md:flex">
      <!-- Sección de Datos de la Orden -->
      <div class="md:w-3/4 md:pr-8">
        <h2
          class="text-2xl font-semibold text-gray-700 mb-4 text-center md:text-left"
        >
          Datos
        </h2>
        <p class="text-gray-700">
          <strong>Nombre:</strong> {{ firstName }} {{ lastName }}
        </p>
        <p class="text-gray-700"><strong>Correo:</strong> {{ email }}</p>
        <p class="text-gray-700"><strong>Dirección:</strong> {{ address }}</p>

            <!-- Sección de Productos -->
            <h2
            class="text-2xl font-semibold text-gray-700 mt-6 mb-4 text-center md:text-left"
          >
            Consultar stock de productos al whatsapp
          </h2>
        <!-- Sección de Productos -->
        <h2
          class="text-2xl font-semibold text-gray-700 mt-6 mb-4 text-center md:text-left"
        >
          Productos
        </h2>
        <div class="overflow-x-auto">
          <table class="w-full border border-gray-200 rounded-lg shadow-sm">
            <thead class="bg-gray-100 border-b border-gray-200">
              <tr>
                <th class="px-4 py-2 text-left text-gray-700">Producto</th>
                <th class="px-4 py-2 text-left text-gray-700">Precio</th>
                <th class="px-4 py-2 text-left text-gray-700">Cantidad</th>
                <th class="px-4 py-2 text-left text-gray-700">Total</th>
                <th class="px-4 py-2 text-left text-gray-700">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items" class="border-b border-gray-200">
                <td class="px-4 py-2 text-gray-800">{{ item.productName }}</td>
                <td class="px-4 py-2 text-gray-800">{{ item.price }}</td>
                <td class="px-4 py-2 text-gray-800">
                  <input
                    type="number"
                    [(ngModel)]="item.quantity"
                    (change)="updateQuantity(item)"
                    min="1"
                    class="w-16 border border-gray-300 rounded-lg px-2 py-1"
                  />
                </td>
                <td class="px-4 py-2 text-gray-800">{{ item.quantity }}</td>
                <td class="px-4 py-2 text-gray-800">
                  {{ item.getTotalPriceItem() }}
                </td>
                <td class="px-4 py-2">
                  <button
                    class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded"
                    (click)="deleteItemCart(item.productId)"
                  >
                    Quitar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Sección de Resumen de la Orden -->
      <div class="md:w-1/4 mt-6 md:mt-0">
        <h2
          class="text-2xl font-semibold text-gray-700 mb-4 text-center md:text-left"
        >
          Resumen Orden
        </h2>
        <ul
          class="bg-gray-100 border border-gray-200 rounded-lg shadow-sm p-4 space-y-2 text-center md:text-left"
        >
          <li class="text-lg font-semibold text-gray-700">
            Total: {{ totalCart }}
          </li>
          <li>
            <button
              class="bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 w-full rounded mt-4"
              (click)="generateOrder()"
            >
              Pagar con Mercado Pago
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
