@media (min-width: 768px) {
  .admin-table .table-cell {
    padding: 12px 16px;
    font-size: 0.92rem;
  }
}

.admin-table .table-cell {
  color: var(--text-main);
  white-space: nowrap;
}

.admin-table .mat-mdc-cell,
.admin-table .mat-mdc-header-cell {
  vertical-align: top;
}
