<!-- <app-header-admin></app-header-admin>
 -->
<app-navbar></app-navbar>
<div class="container mx-auto p-4">
  

  <!-- Botón Crear Producto -->
  <a
    class="button-item p-2"
    routerLink="/admin/product/addproduct"
    >Crear Producto</a
  >

  <h2 class="text-2xl font-semibold text-gray-800 mt-4">Productos</h2>

  <!-- Tabla Angular Material -->
  <table
    mat-table
    [dataSource]="products"
    class="min-w-full border border-gray-200 rounded-lg shadow-md pt3"
  >
    <!-- Código -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef class="p-2 text-left text-gray-600">
        Código
      </th>
      <td mat-cell *matCellDef="let product" class="p-2 text-gray-800">
        {{ product.code }}
      </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="p-2 text-left text-gray-600">
        Nombre
      </th>
      <td mat-cell *matCellDef="let product" class="p-2 text-gray-800">
        {{ product.name }}
      </td>
    </ng-container>

    <!-- Descripción -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="p-2 text-left text-gray-600">
        Descripción
      </th>
      <td mat-cell *matCellDef="let product" class="p-2 text-gray-800">
        {{ product.description }}
      </td>
    </ng-container>

    <!-- Precio -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="p-2 text-left text-gray-600">
        Precio
      </th>
      <td mat-cell *matCellDef="let product" class="p-2 text-gray-800">
        {{ product.price | currency }}
      </td>
    </ng-container>

    <!-- Editar -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="p-2 text-left text-gray-600">
        Editar
      </th>
      <td mat-cell *matCellDef="let product" class="p-2">
        <button
          mat-button
          color="primary"
          class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-1 px-2 rounded"
          [routerLink]="['/admin/product/update', product.id]"
        >
          Editar
        </button>
      </td>
    </ng-container>

    <!-- Eliminar -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="p-2 text-left text-gray-600">
        Eliminar
      </th>
      <td mat-cell *matCellDef="let product" class="p-2">
        <button
          mat-button
          color="warn"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded"
          (click)="deleteProductById(product.id)"
        >
          Eliminar
        </button>
      </td>
    </ng-container>

    <!-- Header y filas de datos -->
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="bg-gray-100"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<app-footer></app-footer>