<footer class="w-full bg-[#fcf7ee] py-4 mt-auto">
   <!-- footer bottom -->
   <div class="max-w-[1024px] mx-auto flex flex-col lg:flex-row justify-between items-center py-8 border-gray-200 border-t space-y-4 lg:space-y-0">
     <div class="text-center lg:text-left">
       Copyright © 2024 MCDEV. All Rights Reserved.
     </div>
     <img
       class="h-8 max-w-full lg:order-3"
       src="https://nov-costica.myshopify.com/cdn/shop/files/payment-footer_800x.png?v=1726542829"
       alt="Payment Options"
     />
   </div>
   <!-- social media icons -->
    <div class="flex justify-center mt-8 space-x-6">
     <a href="https://www.facebook.com" target="_blank" class="text-gray-600 transform transition-all duration-300 hover:text-blue-600 hover:scale-110">
       <i class="fab fa-facebook-f"></i>
     </a>
     <a href="https://www.instagram.com" target="_blank" class="text-gray-600 transform transition-all duration-300 hover:text-pink-600 hover:scale-110">
       <i class="fab fa-instagram"></i>
     </a>
     <a href="https://wa.me/" target="_blank" class="text-gray-600 transform transition-all duration-300 hover:text-green-600 hover:scale-110">
       <i class="fab fa-whatsapp"></i>
     </a>
   </div> 
 </footer>