<header class="w-full h-20 flex items-center">
  <div class="flex justify-between items-center max-w-[1024px] mx-auto">
    <div></div>

    <nav>
      <ul class="flex justify-center items-center gap-12">
        <li class="nav-item">Inicio</li>
        <li class="nav-item">Productos</li>
        <li class="nav-item">
          <h1 class="!tracking-widest !m-0 text-2xl">L&C COSMETICA</h1>
        </li>
        <li class="nav-item">Promociones</li>
        <li class="nav-item">Nosotros</li>
      </ul>
    </nav>

    <div>
      <button mat-icon-button class="" >
        <mat-icon class="text-gray-700 text-3xl ml-8 mb-3 "> local_mall </mat-icon>
      </button>
      <button mat-icon-button >
        <mat-icon class="text-gray-700 text-3xl ml-8 mb-3" >person_outline</mat-icon>
      </button>
    </div>
  </div>
</header>
